.chat__input {
  display: flex;
  position: sticky;
  gap: 10px;
  width: 500px;
  bottom: 0;
  background: white; /* Щоб не було напівпрозорості */
  padding: 10px 0; /* Відступи всередині */
  margin-top: auto; /* Притискає до низу */
  margin-left: auto;
  margin-right: auto;
}
.chat__container {
  position: relative; /* Важливо для sticky-елементів */
  min-height: 100vh; /* Займає всю висоту екрана */
  display: flex;
  flex-direction: column;
}
.chat__input input {
  flex: 1;
  padding: 8px;
  
}

.chat__input button {
  padding: 8px 16px;
}